# macOS
.DS_Store

# Xcode
*.xcuserstate
xcuserdata/
*.xcuserdata
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build products
DerivedData/
build/
.build/
.swiftpm/

# Swift Package Manager
Packages/
Package.pins
Package.resolved
*.xcodeproj/xcshareddata/swiftpm/Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Claude
.claude/settings.local.json

# Secrets
*.env
*.pem
*.p12

# Large assets
*.sf2
